version: '3'

services:
  db:
    ports:
      - "3306:3306"

  courier-service:
    image: app
    environment:
      PHP_IDE_CONFIG: "serverName=localhost"
      XDEBUG_MODE: "debug"
    extra_hosts:
      - host.docker.internal:host-gateway

  customer-service:
    image: app
    environment:
      PHP_IDE_CONFIG: "serverName=localhost"
      XDEBUG_MODE: "debug"
    extra_hosts:
      - host.docker.internal:host-gateway

  restaurant-service:
    image: app
    environment:
      PHP_IDE_CONFIG: "serverName=localhost"
      XDEBUG_MODE: "debug"
    extra_hosts:
      - host.docker.internal:host-gateway