version: '3'

services:
  db:
    ports:
      - "3306:3306"

  app:
    environment:
      PHP_IDE_CONFIG: "serverName=localhost"
      XDEBUG_MODE: "debug"
    extra_hosts:
      - host.docker.internal:host-gateway