version: '3'

services:
  nginx:
    image: nginx:1.25
    restart: unless-stopped
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./:/usr/share/app
      - ./deployment/nginx/default.nginx:/etc/nginx/conf.d/default.conf
    depends_on:
      - courier-service
      - customer-service
      - restaurant-service

  courier-service:
    build:
      context: .
    working_dir: /usr/share/app
    restart: unless-stopped
    volumes:
      - ./courier-service/:/usr/share/app

  customer-service:
    build:
      context: .
    working_dir: /usr/share/app
    restart: unless-stopped
    volumes:
      - ./customer-service/:/usr/share/app

  restaurant-service:
    build:
      context: .
    working_dir: /usr/share/app
    restart: unless-stopped
    volumes:
      - ./restaurant-service/:/usr/share/app

  db:
    image: mysql:8.0.33
    restart: unless-stopped
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}

volumes:
  mysql_data:
    driver: local