server {
    listen 80 default_server;
    root /usr/share/app/public;

    location /api/customer/ {
        try_files $uri /customer/index.php$is_args$args;
    }

    location ~ ^/customer/index\.php(/|$) {
        fastcgi_pass customer-service:9000;
        include _fastcgi.nginx;
    }

    location /api/courier/ {
        try_files $uri /customer/index.php$is_args$args;
    }

    location ~ ^/courier/index\.php(/|$) {
        fastcgi_pass courier-service:9000;
        include _fastcgi.nginx;
    }

    location ~ \.php$ {
        return 404;
    }

    error_log /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;
}
